<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Request</title>
</head>
<body>
    <p>Hello,</p>
    <p>You're receiving this email because you requested a password reset for your account at A&K Accessories And Closet.</p>
    <p>Please click the link below to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Thanks,<br>The A&K Accessories And Closet Team</p>
</body>
</html>